html, body {
    margin: 0;
    height: 100%;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0px;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

@font-face {
    font-family: 'MintsodaLimeGreen';
    src: url('../assets/MintsodaLimeGreen13X16Regular-4n30l.ttf');
}

@font-face {
    font-family: 'jackeyfont';
    src: url('../assets/jackeyfont.ttf');
}