html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1, p, span{
  font-size: 50px;
  color: #bec8d1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  display: none; 
}
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.endgame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  display: block;
  margin-bottom: 20px;
  padding: 20px 40px;
  font-size: 24px;
  background-color: #137a7f;
  color: #bec8d1;
  border: 2px solid #bec8d1;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
}

button:disabled{
    background-color: #8fb1b3; /* Lighter and desaturated version of #137a7f */
    color: #8a9aa6; /* Slightly darker version of #bec8d1 */ 
    cursor:default;
}


.content {
  text-align: center;
  z-index: 1; /* Ensure content is behind the overlay */
}

.blur {
  filter: blur(5px); /* Blur effect for the main content */
}



@font-face {
    font-family: 'jackeyfont';
    src: url('../assets/jackeyfont.ttf');
}